<div class="bootstrap-wrapper">
    <div class="container-fluid">
      <h1 class="mt20 ml20 section-title">Available Quizzes</h1>
      
      <div class="row mt20" *ngIf="quizzes && quizzes.length > 0; else noQuizzes">
        <div class="col-md-6 col-lg-4" *ngFor="let q of quizzes">
          <mat-card class="quiz-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="quiz-card-avatar"></div>
              <mat-card-title>{{ q.title }}</mat-card-title>
              <mat-card-subtitle>{{ q.category.title }}</mat-card-subtitle>
            </mat-card-header>
  
            <mat-card-content>
              <p class="truncate">{{ q.description }}</p>
            </mat-card-content>
  
            <mat-card-actions>
              <button mat-raised-button color="primary" class="action-btn" [routerLink]="'/user-dashboard/view/'+ q.qId">View</button>
              <button 
                mat-raised-button 
                color="accent" 
                class="action-btn" 
                [routerLink]="'/user-dashboard/instructions/' + q.qId"
              >
                Start
              </button>
              <button mat-stroked-button color="accent" class="action-btn">
                Questions: {{ q.numberOfQuestions }}
              </button>
              <button mat-stroked-button color="warn" class="action-btn">
                M.M: {{ q.maxMarks }}
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  
      <ng-template #noQuizzes>
        <div class="col-md-12 no-quiz">
          <mat-card>
            <mat-card-content>
              <h2>No quizzes found in this category</h2>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-template>
    </div>
  </div>
  
<!-- <mat-card-footer>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        This is a footer..
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</mat-card-footer> -->