<mat-card>
    <mat-action-list>
      <div mat-subheader>Available Categories</div>
      <button routerLink="/user-dashboard/0" mat-list-item >
        <mat-icon mat-list-icon class="menu-icon">quiz</mat-icon>
        <span mat-line class="menu-text">All Quizzes</span>
      </button> 
      <button 
      [routerLink]="'/user-dashboard/'+ c.cid"
      mat-list-item *ngFor="let c of categories" >
        <mat-icon mat-list-icon class="menu-icon">quiz</mat-icon>
        <span mat-line class="menu-text">{{c.title}}</span>
      </button> 
    </mat-action-list>
  </mat-card>
  
  <!-- {{categories | json}} -->