<mat-card appearance="outlined">
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink="/admin" mat-list-item>
        <mat-icon mat-list-icon class="menu-icon">home</mat-icon>
        <span mat-line class="menu-text">Home</span>
      </button>
      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon class="menu-icon">account_circle</mat-icon>
        <span mat-line class="menu-text">Profile</span>
      </button>
      <button mat-list-item routerLink="/admin/categories">
        <mat-icon mat-list-icon class="menu-icon">add_circle_
        </mat-icon>
        <span mat-line class="menu-text">Categories</span>
      </button>
      <button mat-list-item routerLink="/admin/add-category">
        <mat-icon mat-list-icon class="menu-icon">note_add
        </mat-icon>
        <span mat-line class="menu-text">Add Category</span>
      </button>
      <button mat-list-item routerLink="/admin/quizzes">
        <mat-icon mat-list-icon class="menu-icon">quiz
        </mat-icon>
        <span mat-line class="menu-text">Quizzes</span>
      </button>
      <button mat-list-item routerLink="/admin/add-quiz">
        <mat-icon mat-list-icon class="menu-icon">add
        </mat-icon>
        <span mat-line class="menu-text">Add Quiz</span>
      </button>
      <button mat-list-item (click)="logout()" >
        <mat-icon mat-list-icon class="menu-icon">logout
        </mat-icon>
        <span mat-line class="menu-text">Logout</span>
      </button>
    </mat-action-list>
  </mat-card>
  