html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    background: linear-gradient(to bottom, #f4f7fb, #ffffff); /* Light gray gradient similar to LeetCode */
}

/* Override Angular Material primary color */
.mat-raised-button.mat-primary {
    background-color: #1976d2; /* Material Indigo primary color */
    color: white;
}

.text-center {
    text-align: center;
}

.ml20 {
    margin-left: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.text-center {
    text-align: center;
}
